*~
slurm-*.out
ctapipe-process.provenance.log
core
.ipynb_checkpoints/
Untitled.ipynb
gamma_tmp/
hhhh
greasy_job/
ctapipe.sif
greasy-57671052.log
greasy-57675047.log
greasy-57677304.log
greasy-57677712.log
greasy-57677784.log
greasy-57677944.log
greasy-57680214.log
greasy-57686097.log
node_1.joblist-undefined.rst
